<h1><%= @movie.title %></h1>
<h3><%= @movie.year %></h3>
<h4><%= @movie.plot %></h4>

  <input type="radio", id="user", name="name" />
  <label>I liked this movie
  </label> 
<br><br>
  <input type="radio", id="user", name="name" />
  <label>I did not like this movie
  </label>
  <br><br>
  <input type="submit"> 
  